<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="Force" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
		<!-- Main Task -->
		<Snippet id="IdxTxtSnp_IO_Forcing_States" xsi:type="session" type="IndexText" formatItem="IAT/IO_Forcing_States/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name0" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name1" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name2" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name3" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name4" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name5" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name6" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name7" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name8" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name9" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name10" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name11" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name12" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name13" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name14" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		<Snippet id="IdxTxtSnp_IO_Name15" xsi:type="session" type="IndexText" formatItem="IAT/OTM_IOList/{0}" />
		
		<Snippet id="IdxTxtSnp_StateExecute" xsi:type="session" type="IndexText" formatItem="IAT/SealingState/{0}" />
	</Snippets>
</SnippetsSet>
