<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="MachStatus" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Snippets>
		<!-- TMX OKUMA -->
		<!-- =================================================== -->		
		<!--			 PML 	-   Mode/State/SubState 		 -->		
		<!-- =================================================== -->
		<!-- Main Task -->
		<Snippet id="IdxTxtSnp_PMLMode" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLState" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubState" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!--  *-*  -->	
		<!-- Entry Main Task -->
		<Snippet id="IdxTxtSnp_PMLModEntryMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateEntryMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateEntryMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- =================================================== -->
		<!-- Exit Main Task -->
		<Snippet id="IdxTxtSnp_PMLModExitMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExitMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExitMain" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- =================================================== -->
		
		<!-- Sealing Task -->
		<Snippet id="IdxTxtSnp_PMLModSealing" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateSealing" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateSealing" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- =================================================== -->
		<!-- Vacuum Task -->
		<Snippet id="IdxTxtSnp_PMLModVacuum" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateVacuum" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateVacuum" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- =================================================== -->
		<!-- =================================================== -->
		<!-- Entry1 Task -->
		<Snippet id="IdxTxtSnp_PMLModEntry1" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateEntry1" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateEntry1" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Entry2 Task -->
		<Snippet id="IdxTxtSnp_PMLModEntry2" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateEntry2" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateEntry2" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Entry3 Task -->
		<Snippet id="IdxTxtSnp_PMLModEntry3" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateEntry3" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateEntry3" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Entry4 Task -->
		<Snippet id="IdxTxtSnp_PMLModEntry4" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateEntry4" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateEntry4" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
	
		<!-- =================================================== -->
		
		<!-- =================================================== -->
		<!-- Exit1 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit1" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit1" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit1" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit2 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit2" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit2" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit2" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit3 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit3" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit3" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit3" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit4 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit4" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit4" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit4" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit5 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit5" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit5" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit5" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit6 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit6" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit6" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit6" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit7 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit7" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit7" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit7" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- Exit8 Task -->
		<Snippet id="IdxTxtSnp_PMLModExit8" xsi:type="session" type="IndexText" formatItem="IAT/PMLMode/PML.ModeID.{0}" />
		<Snippet id="IdxTxtSnp_PMLStateExit8" xsi:type="session" type="IndexText" formatItem="IAT/PMLState/PML.State.{0}" />
		<Snippet id="IdxTxtSnp_PMLSubStateExit8" xsi:type="session" type="IndexText" formatItem="IAT/PMLSubState/PML.SubState.{0}" />
		<!-- =================================================== -->

	
	</Snippets>
</SnippetsSet>
